.env
**/.DS_Store
**/__pycache__/ 
.venv
faiss_index/
financerag_result/
*.csv
*.log
test.py
temp_result_dense_retrieval
finance_corpus_summarized
main.ipynb
submission/
.idea/
.jupyter/
.ipynb_checkpoints/

